*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Times New Roman', sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(PICTURES/Background.jpg);
    background-size: cover;
}

.navbar {
    position: absolute;
    padding:30px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: darkred;
    font-weight: bold;
    font-family: 'Times New Roman', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}   

.navbar .nav-links ul {
    display: inline-flex;
    gap: 20px;
}