body {
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
  background: url("PICTURES/Background.jpg") no-repeat center / cover;
  height: 100vh;
}

.top-container {
  margin: 15px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.514);
  border: 0.5px solid #ff000000;
  padding: 10px 15px;
  border-radius: 12px 12px 12px 12px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
}

.logo-text {
  font-size: 15px;
  color: #8b0000;
  font-weight: bold;
}

.menu-btn {
  background: white;
  border: 2px solid #ffffff00;
  border-radius: 8px;
  padding: 5px 8px;
  cursor: pointer;
}

.menu-btn div {
  width: 22px;
  height: 3px;
  background: #8b0000;
  margin: 4px 0;
}

.menu {
  display: none;
  background: rgba(255, 255, 255, 0.473);
  border: #ffffff00 0.5px solid;
  border-radius: 12px 12px 12px 12px;
  padding: 8px; 
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 8px;
}

.menu button {
  background: rgba(255, 255, 255, 0.356);
  color: #8b0000;
  border: 2px solid #ffffff00;
  padding: 8px 12px;
  border-radius: 0px;
  width: auto;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Times New Roman', sans-serif;
}

.menu button:hover {
  background: #8b0000;
  color: white;
}
