body {
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
  background : url("PICTURES/Background.jpg") no-repeat center / cover;
  height: 100vh;
}
.top-container {
  margin: 15px;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.514);
  border: 0.5px solid #ff000000;
  padding: 10px 15px;
  border-radius: 12px 12px 12px 12px;

}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

.logo-text {
  font-size: 15px;
  color: #8b0000;
  font-weight: bold;
}

.menu-btn {
  background: white;
  border: 2px solid #ffffff00;
  border-radius: 8px;
  padding: 5px 8px;
  cursor: pointer;
}

.menu-btn div {
  width: 22px;
  height: 3px;
  background: #8b0000;
  margin: 4px 0;
}

.menu {
  display: none;
  background: rgba(255, 255, 255, 0.473);
  border: #ffffff00 0.5px solid;
  border-radius: 12px 12px 12px 12px;
  padding: 8px; 
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 8px;
}

.menu button {
  background: rgba(255, 255, 255, 0.356);
  color: #8b0000;
  border: 2px solid #ffffff00;
  padding: 8px 12px;
  border-radius: 0px;
  width: auto;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Times New Roman', sans-serif;
}

.menu button:hover {
  background: #8b0000;
  color: white;
}
    .Grade :focus {
      box-shadow: 0 0 5px #000000;
    }
    .menu ul {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute; top: 20px; left: 457px; 
    }
    .menu ul li {
      list-style: none;
      margin: 0 110px;
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    .menu ul li a {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      transition: 0.5s ease-in-out;
      font-family: Arial, sans-serif;
    }
    .menu ul li a:hover {
      color: #690000;
      -ms-zoom-animation: default;

    }
    .subject-section {
      flex: 2 1 500px;
      display: flex;
      justify-self: unset;
      flex-direction: column;
      gap: 17px;
      z-index: 1000;
    }
    .subject-box {
      background-color: maroon;
      border-radius: 10px;
      padding:  15px; 
      text-align: center;
      font-weight: bold;
      color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
    }
    .subject-box:hover {
      transform: scale(1.05);
    }

    .subject-header {
      text-align: left;
      margin-top: 10px;
      font-size: 20px;
      color: maroon;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif, sans-serif;
    }
    .border {
      background-color: rgba(255, 255, 255, 0.521);
      border-radius: 8px;
      padding: 13.3rem;
      margin: 40px 0px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card {
        background: #8b0000;
        color: rgb(0, 0, 0);
        border-radius: 25px;
        padding: 20px;
        max-width: 420px;
        width: 100%;
    }

    h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 0px;
    }

    th, td {
        border: 2px solid rgb(0, 0, 0);
        padding: 8px;
        text-align: center;
        background-color: #ffffff;
    }
    h4 {
        border-radius: 5px;
        padding: 8px;
        text-align: center;
        color: rgba(0, 0, 0, 0.795);
    }

    input {
        width: 90%;
        border: none;
        padding: 6px;
        text-align: center;
        border-radius: 5px;
    }

    .top-box {
        background: white;
        color: #8b0000;
        font-weight: bold;
        padding: 12px;
        width: 100%;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        margin-top: 10px;
    }

    .bottom-box {
        background: white;
        color: black;
        margin-top: 15px;
        padding: 12px;
        border-radius: 25px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
    