
    @media screen and (max-width: 600px) {
    body {
    font-family: 'Times New Roman', sans-serif;
    background-image: url("PICTURES/Background.jpg");
    height: 100vh;
    margin: 0;
    padding: 2rem;
    width: auto;
   
    }

    .header h4 {
        line-height: 0px;
        font-size: 0.60rem; 
    }

    .header h2 {
        line-height: 0px;
        font-size: 12px;
    }

    .topbox {
        background: rgba(255, 255, 255, 0.493);
        display: flex;
        flex-direction: row;
        border-radius: 15px;
    }
    .topbox-text {
        margin-left: -10px;
        padding: 10px;
    }

    .logo {
        height: 3rem;
        margin-left: 5px;
        padding: 1%;
    }

    .menu ul {
        float: left;
        list-style-type: none;
        margin: 0;
        padding: 10px;
        line-height: 3rem;
        letter-spacing: 0px;
        text-decoration: none;

    }
    .menu ul li {
        display: inline;
        font-size: 1rem;

    }
    .menu ul li a {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0px 0px;
        text-decoration: none;
        color: darkred;
        font-weight: bold;
    }
     }